### Jetbrains
*.iml
.idea

### macOS ###
*.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.vscode
*.ini
env

### data ###
*.csv
*.json

### matlab autosave ###
*.asv

### firebase ###
.firebase/

## js ##
node_modules/
dist/
build/
