.emergency {
  background-color: #00000000;
  width: 300px;
  height: 300px;
  bottom: 0;
  left:40%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

#map{
  z-index: 0;
}

body{
  margin: 0;
}
